head{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*{
    padding: 10px;
border: 5px solid black;
margin: 20px;
border-radius:  30px;
}

Body{
    /* background-image:url("../Images/208780.jpg");*/
    background-image:url("../Images/200w.gif");
    background-repeat:repeat;
    background-size: 1500px;



    color:chartreuse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: azure;
}
h1{
    color:orange;
    font-size:102px;
    font-weight: lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

#topid{
    color:blueviolet
}

.whitebackgroundbox{
    background-color: white;
    font-size: 20px;
}

.container{
    position: relative;
background-color: red;
border: 5px solid black;
padding: 20px;
border-style: solid;
}
.header{
    background-color: blue;
    border: 5px solid black;
}
.leftmenu{
    background-color: yellow;
border: 5px solid black;
float:left;
width: 20%;
margin:auto
txt here?
}
.mainbody{
    background-color: brown;
border: 5px solid black;
float:left;
width: 60%;
margin:auto
}
.rightmenu{
    background-color: pink;
border: 5px solid black;
float:left;
width: 20%;
margin:auto
}
.footer{background-color: gray;
    border: 5px solid black;
    margin-top: auto;
    margin-bottom: 0%;
}